@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Btn: #ff5959;
  --P-Color: #707070;
  --Inter: "Inter", sans-serif;
}

/* reset Info */

h1 {
  font-size: 65px;
  font-family: var(--Inter);
}
h2 {
  font-size: 45px;
  font-family: var(--Inter);
}
h3 {
  font-size: 30px;
  font-family: var(--Inter);
}
h4 {
  font-size: 24px;
  font-family: var(--Inter);
}
p {
  font-size: 18px;
  font-family: var(--Inter);
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 130px auto;
}
.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  font-weight: 600;
  font-size: 20px;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--Btn);
  color: white;
  cursor: pointer;
}

/* Header Section */
header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../images/header-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-text {
  text-align: center;
}
.banner-text h1 {
  font-weight: 700;
  font-size: 65px;
  color: white;
}
.banner-text p {
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin: 30px 0;
}

/* Donate Today Section Start  */

.titel-text {
  text-align: center;
}
.titel-text h2 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
}
.titel-text p {
  font-style: normal;
  font-weight: 400;
  color: var(--P-Color);
}
.number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin: 60px 0;
}
.number-box .box-2 {
  background-color: #ffeeee;
  border: 2px solid var(--Btn);
  padding: 44px 24px;
  border-radius: 5px;
}
.number-box .box {
  background-color: #fafafa;
  border: 2px solid var(--P-Color);
  padding: 44px 24px;
  border-radius: 5px;
}
.Amount {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  color: var(--P-Color);
}
/* Donate Today Section End  */

/* Our Donate Plan Section Start */
.titel-text {
  text-align: center;
}
.titel-text h2 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
}
.titel-text p {
  font-style: normal;
  font-weight: 400;
  color: var(--P-Color);
}

.plan-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

/* card 1 css */
.card-1 {
  background-color: #cbdddf;
  padding: 60px 24px;
  border-radius: 5px;
}
.card-1 img {
  margin-bottom: 30px;
}
.card-1 h4 {
  margin-bottom: 16px;
}
/* card 2 css */
.card-2 {
  background-color: #ffebeb;
  padding: 60px 24px;
  border-radius: 5px;
}
.card-2 img {
  margin-bottom: 30px;
}
.card-2 h4 {
  margin-bottom: 16px;
}

/* card 3 css */
.card-3 {
  background-color: #fff4d6;
  padding: 60px 24px;
  border-radius: 5px;
}
.card-3 img {
  margin-bottom: 30px;
}
.card-3 h4 {
  margin-bottom: 16px;
}
/* Our Donate Plan Section End */

/* Blog Section Start */
.blog-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 84px;
  margin-bottom: 100px;
}
.blog-text {
  width: 494px;
  height: 374px;
}
.blog-text h2 {
  margin-bottom: 20px;
}
.blog-text p {
  margin-bottom: 20px;
}
.blog-cover img {
  width: 456px;
  height: 477px;
  border-radius: 5px;
}

.blog-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 84px;
}

/* Blog Section End */

/* Email Section Start */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff4d6;
}
.email-input {
  padding: 76px 190px;
  
}
.email-box {
  margin: 0;
  padding: 16px 218px 16px 16px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px 0 0 5px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.submit-box {
  margin: 0;
  padding: 16px 42px;
  background-color: var(--Btn);
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: 500;
  font-size: 16px;
  color: white;
  position: absolute;
  cursor: pointer;
}

/* Email Section End */

/* footer Section Start  */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 177px;
  background-color: #0b0d17;
}
.footer-info {
  text-align: center;
}

.footer-info span {
  color: #d9dbe1;
  font-family: var(--Inter);
  display: block;
}

/* footer Section End  */
